@font-face {
  font-family: "nasalization";
  src: url("./nasalization.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.profile-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 60px;
  cursor: pointer;
}

.profile-logo {
  max-height: 25px;
  max-width: 25px;
}

.logo-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.logo-title-left {
  font-family: "nasalization";
  font-size: 20px;
  font-weight: bold;
  color: #1abc9c;
  line-height: 1.3;
}

.logo-title-right {
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
  background-color: #1abc9c;
  font-family: "nasalization";
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0);
  line-height: 1.3;
}
